@import url('../css/common.css');


/*--------------------------------------------------------------
# 메인
--------------------------------------------------------------*/
.section {
  padding: 5rem 0;
}

/*--------------------------------------------------------------
# 메인 팝업 버튼
--------------------------------------------------------------*/
button.readmore{
  width: 100%;
  background: none;
}
