@import url('../css/common.css');


/*--------------------------------------------------------------
# 메인
--------------------------------------------------------------*/
.section {
  padding: 5rem 0;
}

.table{
  table-layout: fixed;
  text-align: center;
}

.table td, .table th{
  padding: 15px 5px;
}

.table td{
  word-break: break-word;
}

/*--------------------------------------------------------------
# 메인 팝업 버튼
--------------------------------------------------------------*/
button.readmore{
  width: 100%;
  background: none;
}

.table-label{
  font-weight: bold;
}
