// #####################################################
// Tip & Story
// #####################################################
// layout
.popup-tns{
  .popup-header{
    align-items: flex-end;
    .title{
      max-height: 175px; // 3 line
      @include eillipse(3);
      letter-spacing: -0.96px;
      color: #000;
    }
  }
  .popup-content{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .popup-footer{
    justify-content: flex-end;
  }
}
.tns{
  &-scroll{
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba($black, .6);
    border-radius: 5px;
    min-width: 86px;
    padding: 95px 20px 18px;
    color: $white;
    @include fontHead();
    font-size: 13px;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    &-img{
      position: absolute;
      top: 40px;
      left: 50%;
      width: 38px;
      height: 58px;
      transform: translate3d(-50%, 0, 0);
      animation: scrollIndicator 1.3s infinite;
    }
  }
  // img
  &-img{
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 50.6666vw;
    font-size: 0;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  &-content{
    position: relative;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  // talk
  &-talk{
    position: relative;
    padding: 22px 0 4px;
    margin: 0 pxTovw(40);
  }
  // tip
  &-tip{
    background: $grey-f7;
    margin: 0 pxTovw(40) 24px;
    padding-bottom: 15px;
    transform: translate3d(0, 100px, 0);
    transition: opacity 1.2s, transform 1s, -webkit-transform 1s;
    &.is-show{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    &.none{
      display: none;
    }
    .title {
      background: $grey-ed;
      padding: 0.8125rem 1rem;
      margin-bottom: 0.9375rem;
      font-size: 0.9375rem;
      color: $color-primary-gv;
      .primary-outline{
        padding: 1px 4px 0;
        margin: 0 5px;
      }
    }
    .title-point{
      padding: 0 1rem;
      margin-bottom: 6px;
      font-size: 0.875rem;
      font-weight: 600;
      color: $color-primary-gv;
    }
    .text{
      position: relative;
      padding: 0.25rem 1rem;
      line-height: 20px;
      font-size: 0.875rem;
      color: $grey-66;
    }
    &-consult{
      li.text{
        padding: 0.25rem 1.6875rem;
        &:before{
          content:'';
          position: absolute;
          top: 10px;
          left: 1rem;
          display: inline-block;
          background-color: makeGrey('70');
          border-radius: 50%;
          width: 4px;
          height: 4px;
        }
      }
    }
    &-point{
      position: relative;
      padding-top: 15px;
      margin-top: 12px;
      &:before{
        content:'';
        position: absolute;
        top:0;
        left: 16px;
        right: 16px;
        background: rgba($grey-db, .3);
        height: 1px;
      }
    }
    .table{
      width: calc(100% - 32px);
      margin: 14px auto 0;
      &:before,
      &:after{
        background: #bcbcbc;
      }
      th{
        background: $grey-ed;
      }
      th,
      td{
        padding: 8px 0;
      }
    }
  }
}
// talk
.msg{
  position: relative;
  display: flex;
  flex-direction: column;
  // animation
  transition: height 500ms, opacity 100ms, transform 250ms, -webkit-transform 250ms;
  overflow: hidden;
  .profile{
    display: flex;
    align-items: flex-end;
    .txt{
      margin: 0 6px;
      font-size: 0.8125rem;
      font-weight: 600;
    }
  }
  &-bubble{
    display: inline-block;
    border-radius: 8px;
    line-height: 1.3125rem;
    margin: 3px 0;
    padding: 0.6875rem 1rem;
    font-size: 0.9375rem;
    color: $grey-26;
    transition: height 500ms, opacity 100ms, transform 250ms, -webkit-transform 250ms;
    overflow: hidden;
  }
  // custom
  &.custom{
    align-items: flex-start;
    transform: translate3d(-100vw, 0, 0);
    .profile{
      img{
        width: 52px;
        height: 56px;
      }
      .txt{
        color:$grey-66;
      }
    }
    .msg-bubble{
      border: 1px solid #e5e5e5;
      border-top-left-radius: 0px;
      max-width: 67.3333vw;
      transform: translate3d(-100vw, 0, 0) scale(0);
    }
  }
  // genesis
  &.genesis{
    align-items: flex-end;
    top: -22px;
    margin-bottom: -4px;
    transform: translate3d(100vw, 0, 0);
    .profile{
      flex-direction: row-reverse;
      img{
        width: 78px;
        height: 70px;
      }
    }
    .msg-bubble{
      border-top-right-radius: 0px;
      background: $grey-f8;
      max-width: 74.3333vw;
      transform: translate3d(100vw, 0, 0) scale(0);
    }
  }
  &.is-show{
    // animation
    transform: translate3d(0, 0, 0);
    .is-show.msg-bubble{
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
}