// Heading
.heading{
  &-1{
    font-size: 22px;
  }
  &-2{
    font-size: 16px;
  }
  &-3{
    font-size: 14px;
  }
  &-4{
    font-size: 16px;
    color: $grey-26;
  }
}

// Comment
.comment{
  &-1{
    display: block;
    font-size: 14px;
    color: #000000;
    word-break: keep-all;
    @include fontBody(100);
  }
  &-2{
    display: block;
    margin-top: 4px;
    font-size: 13px;
    color: $grey-75;
    word-break: keep-all;
    @include fontBody(100);
  }
  &-3{
    display: block;
    font-size: 12px;
    color: #757575;
    word-break: keep-all;
    line-height: 18px;
  }
}

// color
.color{
  &-grey-90{
    color: $grey-90 !important;
  }
  &-grey-6f{
    color: $grey-6f !important;
  }
  &-primary{
    color: $color-primary !important;
  }
  &-grey{
    color: $grey-90;
  }
}

// font-color
.txt-world{
  margin: 8px 0;
  .badge.primary{
    padding: 3px 4px 2px;
  }
  em{
    font-weight: 800;
  }
}

//br 
.hide-mobile{
  display: none;
}

// 중동영어 예외 추가
.ar-text{
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  word-break: keep-all;
  font-size: 12px;
  color: #996449;
}