// Base
.btn{
  position: relative;
  display: inline-block;
  background-color: $transparent;
  border: 1px solid $transparent;
  padding: 8px 12px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: none;  
  }
}

@each $color, $value in $basic-colors {
  .btn{
    // btn outline
    &.#{$color}-outline {
      color: $color-primary-gv;
      border-color: $color-primary-gv;
      .ico{
        border-color: $color-primary-gv;
      }
    }
    // btn color
    &.#{$color} {
      background-color: #000;
      color: $white;
      &:disabled{
        background-color: #b1b1b1;
      }
      .ico{
        border-color: $white;
      }
    }
  }
}

.btn-tip{
  border: 1px solid $color-primary-gv;
  height: 34px;
  line-height: 30px;
  padding:0 14px;
  color: $color-primary-gv;
  .ico{
    border-color: $color-primary-gv;
  }
}

.btn-close{
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  padding: 0;
  i{
    display: block;
    width: 100%;
    height: 100%;
  }
}
