$m-tb : 5px;
$bg-primary: #FCF7F4;

%tableLine {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - (#{$m-tb} * 2));
  height: 1px;
  transform: translateX(-50%);
  z-index: 1;
}

.table-title {
  line-height: 130%;
  margin: 12px 0 17px;
  @include fontHead();
  text-align: center;
  font-size: 16px;
  color: $grey-14;
  letter-spacing: -0.5px;
}

.table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  z-index: 0;

  tr {
    &.bg-primary {
      background: $bg-primary;
    }
  }

  th,
  td {
    position: relative;
    vertical-align: middle;
    padding-left: $m-tb;
    padding-right: $m-tb;

    @include before() {
      @extend %tableLine;
      height: 100%;
      z-index: -1;
    }

    @include after() {
      @extend %tableLine;

    }

    &.line-auto-first,
    &.line-first {
      padding-left: 0;

      &:before,
      &:after {
        width: calc(100% - (#{$m-tb}));
        left: 0;
        transform: translateX(0);
      }
    }

    &.line-auto-last,
    &.line-last {
      padding-right: 0;

      &:before,
      &:after {
        width: calc(100% - (#{$m-tb}));
        left: initial;
        right: 0;
        transform: translateX(0);
      }
    }

    &.line-none {
      &::after {
        height: 0;
      }
    }

    &.line-full {

      &:before,
      &:after {
        width: 100%;
      }
    }


    &.bg-primary {

      &::before {
        background: $bg-primary;
      }
    }

    &.bg-primary-first {
      padding-left: 0;

      &:before{
        width: calc(100% - (#{$m-tb}));
        left: 0;
        transform: translateX(0);
        background: $bg-primary;
      }
    }
    &.bg-primary-full {

      &:before {
        width: 100%;
        background: $bg-primary;
      }
    }

    &.bg-primary-last {
      padding-right: 0;

      &:before{
        width: calc(100% - (#{$m-tb}));
        left: initial;
        right: 0;
        transform: translateX(0);
        background: $bg-primary;
      }
    }
  }



  thead {
    border-top: 2px solid $color-primary-gv;
    border-bottom: 2px solid $color-primary-gv;
    color: $color-primary-gv;

    tr:last-of-type {

      th,
      td {
        &:after {
          height: 0;
        }
      }
    }

    th,
    td {
      padding-top: 11px;
      padding-bottom: 11px;
      font-size: 16px;

      &:after {
        background-color: $color-primary-gv;
      }
    }

  }

  tbody {

    th,
    td {
      padding-top: 16px;
      padding-bottom: 16px;
      color: $grey-26;

      &:after {
        background-color: #111;
      }
    }
  }
}


.table+.table {
  margin-top: 26px;
}

.table+.list-wrap {
  margin-top: 10px;
}

.table-label {
  display: block;
  margin-top: 13px;
  font-size: 13px;
  color: $grey-90;
}