.appendix1{
    .content01{
        .header-wrap{
            margin-bottom: 10px;
            .text{
                font-size: 14px;
                text-align: right;
            }
        } 
    }
}