@charset "utf-8";
@import url('reset.css');
/* 초기화설정 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, main, select, input, button {
  font-family: 'GenesisSans';
  font-weight: 400;
}

h4 {
  font-family: 'GenesisSansHead';
  font-weight: 100;
}

/* ----------------------------------------------------------
	공통 
---------------------------------------------------------- */
* {
  outline-color: #cd9a81;
}
@media (min-width:415px){
  .mc{ display: none;}
}

/* display */
#container {
  position: relative;
  z-index: 1;
}

.hidden {
  display: hidden;
}

[class^="img"] {
  display: block;
  width: 100%;
}

.img-bg {
  position: absolute;
  top: 0;
  z-index: 0;
}

/* 정렬 */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* 그리드 */
.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-flex-between .align-left,
.btn-group.align-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.grid-flex-between .align-right,
.btn-group.align-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.grid-table {
  display: table;
}

.grid-table-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.grid-flex-center {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*clearfix*/
.cf {
  display: block;
  content: "";
  clear: both;
}

.clear {
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}

/* font-size */
h1 {font-size: 32px;}
h2 {font-size: 24px}
h3 {font-size: 18px}
h3 small {font-size: 16px}
h4 {font-size: 16px}
h5 {font-size: 12px}
.ft10{font-size: 10px;}
.ft12{font-size: 12px;}
.ft13{font-size: 13px;}
.ft14 {font-size: 14px;}
.ft16 {font-size: 16px;}
.ft18 {font-size: 18px;}
.ft20 {font-size: 20px;}

/* size 0.25rem 단위*/
/* marign */
.mt0  {margin-top: 0 !important;}
.mt4  {margin-top: 4px !important;}
.mt8  {margin-top: 8px !important;}
.mt12 {margin-top: 12px !important;}
.mt16 {margin-top: 16px !important;}
.mt20 {margin-top: 20px !important;}
.mt24 {margin-top: 24px !important;}
.mt28 {margin-top: 28px !important;}
.mt32 {margin-top: 32px !important;}
.mt36 {margin-top: 36px !important;}
.mt60 {margin-top: 60px !important;}
.mr0  {margin-right: 0 !important;}
.mr4  {margin-right: 4px !important;}
.mr8  {margin-right: 8px !important;}
.mr12 {margin-right: 12px !important;}
.mr16 {margin-right: 16px !important;}
.mr20 {margin-right: 20px !important;}
.mr24 {margin-right: 24px !important;}
.mr28 {margin-right: 28px !important;}
.mr32 {margin-right: 32px !important;}
.mr36 {margin-right: 36px !important;}
.mr60 {margin-right: 60px !important;}
.mb0  {margin-bottom: 0 !important;}
.mb4  {margin-bottom: 4px !important;}
.mb8  {margin-bottom: 8px !important;}
.mb12 {margin-bottom: 12px !important;}
.mb16 {margin-bottom: 16px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb24 {margin-bottom: 24px !important;}
.mb28 {margin-bottom: 28px !important;}
.mb32 {margin-bottom: 32px !important;}
.mb36 {margin-bottom: 36px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb60 {margin-bottom: 60px !important;}
.ml0  {margin-left: 0 !important;}
.ml4  {margin-left: 4px !important;}
.ml8  {margin-left: 8px !important;}
.ml12 {margin-left: 12px !important;}
.ml16 {margin-left: 16px !important;}
.ml20 {margin-left: 20px !important;}
.ml24 {margin-left: 24px !important;}
.ml28 {margin-left: 28px !important;}
.ml32 {margin-left: 32px !important;}
.ml36 {margin-left: 36px !important;}
.ml60 {margin-left: 60px !important;}


/*margin추가*/
.mt110 {margin-top: 110px !important;}
.mt180 {margin-top: 180px !important;}
.mb44  {margin-bottom: 44px !important;}
.mb64  {margin-bottom: 64px !important;}
.mb113 {margin-bottom: 113px !important;}
.mb116 {margin-bottom: 116px !important;}
.mb120 {margin-bottom: 120px !important;}
.mb180 {margin-bottom: 180px !important;}
.pt0  {padding-top: 0px !important;}
.pt4  {padding-top: 4px !important;}
.pt8  {padding-top: 8px !important;}
.pt12 {padding-top: 12px !important;}
.pt16 {padding-top: 16px !important;}
.pt20 {padding-top: 20px !important;}
.pt24 {padding-top: 24px !important;}
.pt28 {padding-top: 28px !important;}
.pt32 {padding-top: 32px !important;}
.pt36 {padding-top: 36px !important;}
.pt60 {padding-top: 60px !important;}
.pr0  {padding-right: 0px !important;}
.pr4  {padding-right: 4px !important;}
.pr12 {padding-right: 12px !important;}
.pr16 {padding-right: 16px !important;}
.pr20 {padding-right: 20px !important;}
.pr24 {padding-right: 24px !important;}
.pr28 {padding-right: 28px !important;}
.pr32 {padding-right: 32px !important;}
.pr36 {padding-right: 36px !important;}
.pr60 {padding-right: 60px !important;}
.pb0  {padding-bottom: 0px !important;}
.pb4  {padding-bottom: 4px !important;}
.pb8  {padding-bottom: 8px !important;}
.pb12 {padding-bottom: 12px !important;}
.pb16 {padding-bottom: 16px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb24 {padding-bottom: 24px !important;}
.pb28 {padding-bottom: 28px !important;}
.pb32 {padding-bottom: 32px !important;}
.pb36 {padding-bottom: 32px !important;}
.pb60 {padding-bottom: 60px !important;}
.pl0  {padding-left: 0px !important;}
.pl4  {padding-left: 4px !important;}
.pl8  {padding-left: 8px !important;}
.pl12 {padding-left: 12px !important;}
.pl16 {padding-left: 16px !important;}
.pl20 {padding-left: 20px !important;}
.pl24 {padding-left: 24px !important;}
.pl28 {padding-left: 28px !important;}
.pl32 {padding-left: 32px !important;}
.pl36 {padding-left: 36px !important;}
.pl60 {padding-left: 60px !important;}
/* color */
.point-gray-5f {color: #5F5F5F !important;}
.point-gray-6f {color: #6f6f6f !important;}
.point-gray-90 {color: #909090 !important;}
.point-gray-c0 {color: #C0C0C0 !important;}
.point-gray-24 {color: #242424 !important;}
.point-gray-14 {color: #141414 !important;}
.sub-arrow {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  background: url(../img/ico_sub_arrow.png) no-repeat center center / auto 20px;

}
/* ----------------------------------------------------------
	# component 작성 순서
- accordion
- button
- calender
- dropdown
- form
- swiper
- table
- tabs
- pagenation
- popup
---------------------------------------------------------- */
/* ----------------------------------------------------------
	component # accordion
---------------------------------------------------------- */

.acc-group {
  position: relative;
}

.acc-group .acc-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  text-align: left;
  color: #fff;
  font-size: 1rem;
  background: #141414;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.acc-group .acc-btn.active {
  background-color: #000;
}

.acc-group .acc-panel {
  display: none;
}

/* 아이콘 추가 */
.acc-group .acc-btn:after {
  position: absolute;
  right: 1.25rem;
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.1875rem;
  background: url(../img/ico_dropdown.png) no-repeat right 50%;
  background-size: 0.625rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  content: "";
}

.acc-group .acc-btn.active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ----------------------------------------------------------
	component # button
---------------------------------------------------------- */
/* 기본 버튼 */
.btn-group {
  width: 100%;
  /* overflow: hidden; */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: #a36b4f;
}

/* :disabled */
.btn:disabled,
.btn:hover:disabled.btn:active:disabled {
  color: #fff;
  opacity: .3;
  cursor: default;
}

/* 텍스트 버튼 */
.btn-label {
  padding: 0.5rem;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-label:focus {
  outline: none;
  text-decoration: underline;
}

/* 버튼 사이즈 */
.btn-xl {
  padding: 1.5rem 2.25rem;
  font-size: 1.5rem;
}

.btn-lg {
  padding: 1.125rem 1.875rem;
  font-size: 1.25rem;
}

.btn-md {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.btn-sm {
  height: 2.25rem;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
}

.btn-xs {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}

.btn-flex {
  width: 100%;
}

/* 버튼 컬러 */
.btn-base {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #a36b4f;
}

.btn-point {
  border-color: #a36b4f;
  background: #a36b4f;
  color: #fff;
}

.btn-point:active,
.btn-point:hover {
  color: #000;
}

.btn-point2 {
  border-color: #fff;
  color: #fff;
}

.btn-login {
  border-color: #9D9D9D;
  background: #C2C2C2;
  color: #6F6F6F;
}

.btn-login:active,
.btn-login:hover {
  border-color: #a36b4f;
  background: #C2C2C2;
  color: #a36b4f;
}

.btn-danger {
  background-color: #ff6662;
  color: #fff;
}

/* 버튼 컬럼 */
/* 자동 정렬 */
.grid-flex .btn {
  width: 100%;
}

.grid-flex .btn+.btn {
  margin-left: 0.5rem;
}

/* 버튼 아이콘만 */
.btn-ico {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: transparent;
  background-size: contain;
  background-position: center center;
}

/* 버튼 아이콘 추가 */
.btn i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.75rem auto;
}

.ico-prev,
.btn:disabled:hover .ico-prev,
.btn:disabled:active .ico-prev {
  background-image: url(../img/ico_arrow_light.png);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ico-next,
.btn:disabled:hover .ico-next,
.btn:disabled:active .ico-next {
  background-image: url(../img/ico_arrow_light.png);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.btn:hover .ico-prev,
.btn:active .ico-prev,
.btn:hover .ico-next,
.btn:active .ico-next {
  background-image: url(../img/ico_arrow_light_active.png);
}

/* ----------------------------------------------------------
	component # calendar
---------------------------------------------------------- */


/* ----------------------------------------------------------
	component # dropdown
---------------------------------------------------------- */
/* default */
.dropdown-group {
  position: relative;
  display: block;
  width: 100%;
  background-color: #141414;
  cursor: pointer;
}

/* dropdown-btn */
.dropdown-group>.dropdown-btn {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 0 1.25rem;
  text-align: left;
  color: #fff;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  align-items: center;
}

.dropdown-group>.dropdown-btn:after {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/ico_arrow_light.png) no-repeat center center;
  background-size: 1rem auto;
  content: "";
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown-group>.dropdown-btn.active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* dropdown-box */
.dropdown-box {
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: #141414;
  border-top: 0.0625rem solid #000;
}

.dropdown-box li {
  position: relative;
  padding: 1.25rem;
  min-height: 3.5rem;
  text-align: left;
  font-family: 'GenesisSansHead';
  font-weight: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dropdown-box li,
.dropdown-box li a {
  color: #6F6F6F;
}

.dropdown-box li:hover,
.dropdown-box li:active {
  background: #323232;
}

.dropdown-box li.active,
.dropdown-box li.active a {
  color: #a36b4f;
}

/*스크롤*/
#gnbBar .dropdown-box {
  overflow: auto;
  max-height:80vh;
}

/* ----------------------------------------------------------
	component # form
---------------------------------------------------------- */
/* 레이아웃 */
.form-group,
.form-group-block {
  padding: 0.5rem 0;
}

.form-group label {
  padding-right: 0.5rem;
}

.form-group-block label {
  padding: 0.25rem 0 0.5rem;
}

.form-group-block input {
  width: 100%;
}

/* input */
label {
  display: inline-block;
  text-align: left;
}

input {
  min-width: 3.75rem;
  height: 2.25rem;
  border: 0.0625rem solid #6f6f6f;
  padding: 0.5rem;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:disabled {
  background: #eeeeee;
  border-color: #dbdbdb;
}

/* radio & checkbox */
.rdo-group,
.chk-group {
  display: inline-flex;
  align-content: center;
  position: relative;
  padding-left: 1.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.rdo-group input,
.chk-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 0;
  height: 0;
  width: 0;
  min-width: auto;
  margin:0;
  padding: 0;

}

.rdo,
.chk {
  position: absolute;
  left: -1.875rem;
  height: 1.25rem;
  width: 1.25rem;
  background: #141414;
}

.rdo {
  border-radius: 50%;
}

.rdo:after,
.chk:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-group input:checked+label .chk:after,
.rdo-group input:checked+label .rdo:after {
  display: block;
}

/* :checked 시 */
.chk-group .chk:after {
  left: 0.375rem;
  top: 0.125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid #dfdfdf;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rdo-group .rdo:after {
  top: 0.1875rem;
  left: 0.1875rem;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background: #dfdfdf;
}

.chk-group label,
.rdo-group label {
  position: relative;
  display: inline-flex;
  align-content: center;
  min-height: 1.25rem;
  cursor: pointer;
}
/* textarea */
textarea {
  min-width: 3.75rem;
  min-height: 2.25rem;
  padding: 0.5rem;
  border-color: #6f6f6f;
  font-size: 1rem;
  font-family: 'GenesisSans';
}

/* selectbox */

.select-group {
  position: relative;
  display: block;
}

select {
  min-width: 3.75rem;
  height: 2.25rem;
  padding: 0 1.75rem 0 0.5rem;
  border: 1px solid #6f6f6f;
  background: url(../img/ico_select.png) no-repeat right 50%;
  background-size: 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 네이티브 외형 감추기 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}
select:disabled{
  border-color: #dbdbdb;
  background-color: #eeeeee;
}
/* ----------------------------------------------------------
	component # swiper
---------------------------------------------------------- */
.swiper-container {
  position: relative;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container .swiper-slide {
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  height: 24px;
}

/* ----------------------------------------------------------
	component # table
---------------------------------------------------------- */
.tbl-list {
  width: 100%;
  table-layout: fixed;
  font-size: 0.875rem;
}

.tbl-list th,
.tbl-list td {
  display: table-cell;
  position: relative;
  padding: 0.5rem;
  vertical-align: middle;
  text-align: center;
}

/* border */
.tbl-list {
  border: solid #141414;
  border-width: 0.0625rem 0;
}

.tbl-list th,
.tbl-list td {
  border-top: 0.0625rem solid #dbdbdb;
}

.tbl-list thead th,
.tbl-list thead~tbody th,
.tbl-list thead~tbody td {
  border-left: 0.0625rem solid #dbdbdb;
}

.tbl-list tr th:first-child,
.tbl-list tr td:first-child {
  border-left: 0;
}

.tbl-list>thead>tr:first-child>th,
.tbl-list>thead>tr:first-child>td {
  border-top: 0;
}

.tbl-list>tbody>tr:first-child>th,
.tbl-list>tbody>tr:first-child>td {
  border-top: 0.0625rem solid #141414;
}

/* bg */
.tbl-list-bg tbody {
  background: #eaeaea
}

.tbl-list-bg thead th {
  font-weight: 400;
}

.tbl-list-bg>tbody>tr:first-child>th,
.tbl-list-bg>tbody>tr:first-child>td {
  border-top: 0;
}

/* table > checkbox & radio 위치조정*/
.tbl-list .rdo-grou .rdo,
.tbl-list .chk-group .chk {
  top: 0.125rem;
  left: -1.75rem;
}

/* tr hover & active */
.tbl-list-link>tbody>tr:hover,
.tbl-list-link>tbody>tr:active {
  background: #dbdbdb;
  cursor: pointer;
}

.tbl-list-link>thead~tbody tr:hover td,
.tbl-list-link>thead~tbody tr:active td {
  border-right: 0.0625rem solid #fff;
}


/* ----------------------------------------------------------
	component # tabs
---------------------------------------------------------- */

/* ----------------------------------------------------------
	component # pagenation
---------------------------------------------------------- */
.pagination {
  display: inline-block;
  margin: 1rem auto;
}

.pagination li {
  display: inline-block;
  width: auto;
  min-width: 1.5rem;
  height: 1.5rem;
}

.pagination button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border-radius: 1.5rem;
  text-decoration: none;
  color: #6f6f6f;
}

.pagination button:hover {
  background: #f1f1f1;
}

.pagination .active button {
  background: #a36b4f;
  color: #fff;
}

.pagination .prev button,
.pagination .next button {
  top: 0.4375rem;
  outline: none;
}

.pagination .prev button:before,
.pagination .next button:after {
  position: absolute;
  top: 0.5625rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border: solid #d3d3d3;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: " ";
}

.pagination .prev button:before {
  left: 0.625rem;
  border-width: 0.125rem 0 0 0.125rem;
}

.pagination .next button:after {
  right: 0.625rem;
  border-width: 0 0.125rem 0.125rem 0;
}

.pagination .prev:hover button:before,
.pagination .prev:active button:before,
.pagination .next:hover button:after,
.pagination .next:active button:after {
  border-color: #a36b4f;
}

/* ----------------------------------------------------------
	component # popup
---------------------------------------------------------- */

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-wrap::before {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 1000;
  content: "";
}

.popup {
  position: relative;
  display: block;
  width: 23.25rem;
  margin: 0 auto;
  padding: 2.25rem;
  border: 0.0625rem solid #6f6f6f;
  background: #fff;
  text-align: left;
  z-index: 1001;
}

.popup-header h2 {
  font-size: 1.5rem;
}

.popup-header .popup-close {
  top: 38px;
}

.popup-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 25px;
  padding: 0;
}

.popup-close::before {
  position: absolute;
  left: 9px;
  top: 0;
  display: block;
  content: "";
  width: 1px;
  height: 24px;
  transform: rotate(45deg);
  background: #141414;
}

.popup-close::after {
  position: absolute;
  right: 10px;
  top: 0;
  display: block;
  content: "";
  width: 1px;
  height: 24px;
  transform: rotate(135deg);
  background: #141414;
}

.popup-close-w::before,
.popup-close-w::after {
  background: #fff;
}

.popup-body {
  padding: 1.5rem 0;
}

.popup-footer {
  padding-top: 0.75rem;
}

/* dark theme */
.popup-dark {
  background: #141414;
}

.popup-dark .popup-header h2,
.popup-dark .popup-body {
  color: #fff;
}

.popup-dark .popup-header .popup-close::before,
.popup-dark .popup-header .popup-close::after {
  background: #fff;
}

/* ----------------------------------------------------------
	component # progress
---------------------------------------------------------- */

/* IE10 */
progress {
  background-color: #EEE4DF;
  border: none;
  color: #a36b4f;
}

progress:not([value]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #EEE4DF;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #a36b4f;
}

/* Chrome */
progress[value]::-webkit-progress-bar {
  background-color: #EEE4DF;
}

progress::-webkit-progress-value {
  background-color: #a36b4f;
}

/* Polyfill */
progress[aria-valuenow]:before {
  background-color: #a36b4f;
}

/* ----------------------------------------------------------
	error
---------------------------------------------------------- */
.error-wrap {
  width: 100%;
  height: 100%;
  word-break: keep-all;
}

.error-wrap section {
  text-align: center;
}

.error-wrap .error-group {
  max-width: 1200px;
  padding: 40px 50px 200px;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
}

.error-wrap img {
  width: 30px;
  height: 30px;
}

.error-wrap h1 {
  font-size: 40px;
}

.error-wrap h4 {
  margin-bottom: 32px;
  font-size: 16px;
}

.error-wrap p {
  margin-top: 8px;
  color: #909090;
  font-size: 14px;
}

/* ----------------------------------------------------------
  list
---------------------------------------------------------- */
.circle dt,
.circle dd,
.circle p,
.circle li {
  position: relative;
  padding: 0 0 0 10px;
}

.circle dt span,
.circle dd span,
.circle li span,
.circle p span {
  position: absolute;
  left: 0;
}

.circle .circlenone {
  position: relative;
  font-size: 12px;
  color: #909090;
}