.appendix1{
    .header-wrap > .text{
        text-align: right;
        font-size: 12px;
    }
    .sub-wrap > .heading-4{
        margin-bottom: 10px;
    }
    .table2, .table6, .table7{margin-top: 30px !important;}
}